@inherits LayoutComponentBase
@using my_portfolio.Components.Pages;

<div class="page">
  

    <main id="main">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" class="login-btn">Login</a>
        </div>
        <div class="top-row2 px-4">
            <a href="#main" class="link" >HOME</a>
            <a href="#about" class="link">ABOUT</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">SERVICES</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">SKILLS</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">LANGUAGES</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">FRAMEWORKS</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">CONTACT</a>
        </div>

        <section id="home" class="home-section">
           <Home />

        </section>

        <section id="about" class="about-section">
            <About />

        </section>

       
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
