.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.social-icons a {
    padding-left:10px;
    text-decoration: none;
    font-size: 15px;
    color: #d3d3d3; /* Light Gray */
    transition: color 0.3s ease; /* Smooth color transition */

}

    .social-icons a:hover {
        color: #0073b1; /* Change color on hover */
    }




.home-section {
    height: 89vh;
    position: relative; /* Needed for the pseudo-element positioning */
}

.about-section {
    height: 150vh;
    position: relative;
}

.skill-section {
    height: 115vh;
    position: relative;
}

    .skill-section::after {
        content: '';
        position: absolute;
        bottom: 0; /* Position it at the bottom */
        left: 0;
        width: 100%; /* Take up the full width */
        height: 5px; /* You can adjust the height of the border */
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

.language-section {
    height: 125vh;
    position: relative;
}

    .language-section::after {
        content: '';
        position: absolute;
        bottom: 0; /* Position it at the bottom */
        left: 0;
        width: 100%; /* Take up the full width */
        height: 5px; /* You can adjust the height of the border */
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

    .about-section::after {
        content: '';
        position: absolute;
        bottom: 0; /* Position it at the bottom */
        left: 0;
        width: 100%; /* Take up the full width */
        height: 5px; /* You can adjust the height of the border */
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

.home-section::after {
    content: '';
    position: absolute;
    bottom: 0; /* Position it at the bottom */
    left: 0;
    width: 100%; /* Take up the full width */
    height: 5px; /* You can adjust the height of the border */
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;

    align-items: center;
}

.link {
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 8px;
    font-family: 'Poppins', sans-serif; /* Font for links */
    font-weight: 500;

    transition: all 0.3s ease; /* Smooth transition */
}



    .link:hover {
     
        text-decoration: underline;
    }


.login-btn {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
   
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
    font-size: 16px;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

    .login-btn i {
        font-size: 18px;
        color: white;
        transition: color 0.3s ease-in-out;
    }

    .login-btn:hover {
        background-color: white;
        color: #007bff;
        border: 2px solid #007bff;
        box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
        transform: translateY(-2px); /* Subtle lift effect */
        text-decoration: none; /* Ensures no underline appears */
    }

        .login-btn:hover i {
            color: #007bff; /* Change icon color on hover */
        }


    .top-row2 {
        background-color: #f7f7f7;
        border-bottom: 1px;
        justify-content: flex-end;
        height: 3.5rem;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100vw;
        z-index: 9999;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep .link:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }
   

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .home-section {
        height: 74.8vh;
        position: relative; /* Needed for the pseudo-element positioning */
    }
    .top-row2 {
        background-color: #f7f7f7;
        border-bottom: 1px;
        justify-content: flex-end;
        height: 3.5rem;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100vw;
        z-index: 9999;
    }

        .home-section::after {
            content: '';
            position: absolute;
            bottom: 0; /* Position it at the bottom */
            left: 0;
            width: 100%; /* Take up the full width */
            height: 5px; /* You can adjust the height of the border */
            background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        }
    .link {
        color: black;
        text-decoration: none;
        margin: 5px;
        padding: 8px;
        font-size: 12px;
        border-radius: 10px;
        font-weight: bold;
        border: 2px solid #f7f7f7;
    }

        .link:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Example shadow */
            border: 2px solid #007bff;
            transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
            text-decoration: none;
            
        }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }


    .about-section {
        height: 91.7vh;
        position: relative;
    }

    .skill-section {
        height: 100vh;
        position: relative;
    }

        .skill-section::after {
            content: '';
            position: absolute;
            bottom: 0; /* Position it at the bottom */
            left: 0;
            width: 100%; /* Take up the full width */
            height: 5px; /* You can adjust the height of the border */
            background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        }

    .language-section {
        height: 100vh;
        position: relative;
    }

        .language-section::after {
            content: '';
            position: absolute;
            bottom: 0; /* Position it at the bottom */
            left: 0;
            width: 100%; /* Take up the full width */
            height: 5px; /* You can adjust the height of the border */
            background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        }


        .about-section::after {
            content: '';
            position: absolute;
            bottom: 0; /* Position it at the bottom */
            left: 0;
            width: 100%; /* Take up the full width */
            height: 5px; /* You can adjust the height of the border */
            background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        }

    .social-icons a {
        margin-left: 12px;
        text-decoration: none;
        font-size: 19px;
        color: #d3d3d3; /* Light Gray */
        transition: color 0.3s ease; /* Smooth color transition */
    }

        .social-icons a:hover {
            color: #0073b1; /* Change color on hover */
        }


}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }




