@inherits LayoutComponentBase
@using my_portfolio.Components.Pages;

<div class="page">
  

    <main id="main">
        <div class="top-row px-4">
            <div class="social-icons">
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/yourphonenumber" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <a href="https://learn.microsoft.com/aspnet/core/" class="login-btn">
                Login  <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
        <div class="top-row2 px-4">
            <a href="#main" class="link" >HOME</a>
            <a href="#about" class="link">PROFILE</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">SERVICES</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">SKILLS</a>
            <a href="#language" class="link">LANGUAGES</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">FRAMEWORKS</a>
            <a href="https://learn.microsoft.com/aspnet/core/" class="link">CONTACT</a>
        </div>

        <section id="home" class="home-section">
           <Home />

        </section>

        <section id="about" class="about-section">
            <About />

        </section>

        <section id="language" class="about-section">
            <Languages />

        </section>

       
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
