@page "/about"
@using MudBlazor;
<PageTitle>About</PageTitle>

<div class="about">
<MudContainer class="mudContainer">
  

    <MudGrid Spacing="4">
            

            <MudItem xs="6" md="4" >
                <MudCard class="rounded-lg shadow-lg text-center bg-gradient-primary itemOne">
                    <img src="images/techcessTwo.png" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />
                    <h5 Class="font-semibold  headFiveProfile">Associate Software Engineer</h5>
                    <MudText Class="profileDes">Techcess Business Solutions ,Nugegoda </MudText>
                    <MudText Class="profileDes">(10-Jan-2025 - Present ,Onsite) </MudText>
                 
                </MudCard>
            </MudItem>

            <MudItem xs="6" md="4" >
                <MudCard class=" rounded-lg shadow-lg text-center bg-gradient-primary itemOne ">
                    <img src="images/techcessTwo.png" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />

                    <h5 Class="font-semibold  headFiveProfile">Software Engineering Internship</h5>
                    <MudText Class="profileDes">Techcess Business Solutions,Nugegoda</MudText>
                    <MudText Class="profileDes">(10-July-2024 - 09-Jan-2025 ,Onsite) </MudText>

                </MudCard>
            </MudItem>

            <MudItem xs="6" md="4" Class="itemOne">
                <MudCard class=" rounded-lg shadow-lg text-center bg-gradient-primary itemOne ">
                    <img src="images/sliate.jpg" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />

                    <h5 Class="font-semibold  headFiveProfile">Higher National Diploma </h5>
                    <MudText Class="profileDes">Information Technology</MudText>
                    <MudText Class="profileDes">Sliate,Kandy</MudText>

                </MudCard>
            </MudItem>
    </MudGrid>

        <MudCard Class="pa-8 mt-8 rounded-lg shadow-lg text-center bg-gradient-info text-black  profileText">
           

            <h6 Class="highlight font-bold mt-6">Vision</h6>
            <MudText Typo="Typo.body1" Class="profileDes2 mb-4">
                To be a leader in developing innovative, scalable, and efficient technology solutions that bridge the gap between front-end and back-end development, creating seamless digital experiences for users around the world. I aim to continuously expand my expertise in emerging technologies and contribute to the growth of the tech community.
            </MudText>

            <h6 Class="highlight font-bold mt-6">Mission</h6>
            <MudText Typo="Typo.body1" Class="profileDes2">
                My mission is to deliver high-quality, well-architected, and user-centered applications that solve real-world problems. I strive to stay at the forefront of industry trends, applying my skills in front-end and back-end technologies to create impactful, end-to-end solutions. Through collaboration, continuous learning, and adaptability, I aim to contribute to the success of teams, projects, and organizations I work with, while fostering innovation and efficiency.
            </MudText>
        </MudCard>

</MudContainer>
</div>