@page "/"
@using MudBlazor;
@inject IJSRuntime JSRuntime


<PageTitle>Home</PageTitle>

<div class="home">

    <MudContainer MaxWidth="MaxWidth.Large" class="mudContainer">
        <MudGrid>
            <MudItem xs="12" sm="6" md="6" Class="main">
                <MudCard>
                    <MudCardContent>
                        <h1  class="designation">ASSOCIATE SOFTWARE ENGINEER</h1>
                        <p class="description">
                            Hi, I'm <strong class="highlight">MOHAMED HILMI AMAAN AHMED</strong>, a
                            <strong class="highlight">Full Stack Developer</strong> with experience in
                            <strong class="highlight">Spring Boot</strong>, <strong class="highlight">C#</strong>,
                            <strong class="highlight">Microservices</strong>, <strong class="highlight">PostgreSQL</strong>,
                            <strong class="highlight">MySQL</strong>, <strong class="highlight">Next.js</strong>,
                            <strong class="highlight">React.js</strong>, <strong class="highlight">TypeScript</strong>,
                            and more.
                        </p>
                        <p class="description">
                            Currently working as an <strong class="highlight">Associate Full Stack Developer</strong> at
                            <strong class="highlight">Techcess Business Solution</strong>, I have a strong foundation in both
                            front-end and back-end development. I'm passionate about building scalable applications and
                            continuously improving my skills. With a <strong class="highlight">4.0 GPA</strong> and being the batch topper
                            at <strong class="highlight">HNDIT, SLIATE</strong>, I’m eager to contribute my expertise to new challenges
                            and grow in an <strong class="highlight">Associate Software Engineer</strong> role.
                        </p>

                        <MudButton @onclick="HandleDownloadClick" class="btn-download">
                            <i class="fas fa-download icon-spacing"></i>
                            Download Resume
                        </MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <!-- Image Section (Right) -->
            <MudItem xs="11" md="6" sm="12">
                <MudGrid>
                    <!-- First Row: 3 Images -->
                    <MudItem xs="4" sm="4">
                        <MudCard>
                            <MudCardContent>
                                <div class="image-container">
                                    <img src="images/black.png" alt="Image 1" />
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="4" sm="4">
                        <MudCard>
                            <MudCardContent>
                                <div class="image-container">
                                    <img src="images/black.png" alt="Image 2" />
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="4" sm="4">
                        <MudCard>
                            <MudCardContent>
                                <div class="image-container">
                                    <img src="images/black.png" alt="Image 3" />
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>

                    <!-- Second Row: 2 Images -->
                    <MudItem xs="4" sm="4" Class="secondImages">
                        <MudCard>
                            <MudCardContent>
                                <div class="image-container">
                                    <img src="images/black.png" alt="Image 4" />
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="4" sm="4">
                        <MudCard>
                            <MudCardContent>
                                <div class="image-container">
                                    <img src="images/black.png" alt="Image 5" />
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>
@code {
    private async Task HandleDownloadClick(MouseEventArgs args)
    {
       
        var resumeUrl = "/resume.pdf"; // Correct relative path
        await JSRuntime.InvokeVoidAsync("downloadFile", resumeUrl);
    }
}