@page "/languages"
@using MudBlazor;
<PageTitle>About</PageTitle>

<div class="about">
<MudContainer class="mudContainer">


        <MudGrid Spacing="4" Class="gridMud">
            

            <MudItem xs="6" md="3" Class="itemOne">
              
                    <img src="images/java.png" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />
                 
              
            </MudItem>

            <MudItem xs="6" md="3" Class="itemOne">
               
                    <img src="images/cSharp.jpg" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />

              
            </MudItem>

            <MudItem xs="6" md="3" Class="itemOne">
               
                    <img src="images/php.png" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />

             
            </MudItem>

            <MudItem xs="6" md="3" Class="itemOne">
               
                    <img src="images/python.jpg" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />
            
            </MudItem>

            <MudItem xs="6" md="3" Class="itemOne">
               
                    <img src="images/typescript.jpg" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />

           
            </MudItem>

            <MudItem xs="6" md="3" Class="itemOne">
              
                    <img src="images/js.png" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />

           
            </MudItem>

            <MudItem xs="6" md="3" Class="itemOne">
               
                    <img src="images/html.png" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />
             
            </MudItem>

            <MudItem xs="6" md="3" Class="itemOne">
                
                    <img src="images/css.png" alt="Team Member 1" class="profile-photo1  border-white border-3 shadow" />

                
            </MudItem>


           

           

         


    </MudGrid>
    

</MudContainer>
</div>